{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block content %}
<header>
    <h1 class="page-title">Our Gallery</h1>
    <p class="page-subtitle">Explore our collection of products and moments.</p>
</header>

<main class="gallery-container">
    <div class="gallery-grid">
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='images/blank-t-shirt-png-30249.png') }}" alt="Gallery Image 1">
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='images/blank-t-shirt-png-30265.png') }}" alt="Gallery Image 2">
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='images/blank-t-shirt-png-30249.png') }}" alt="Gallery Image 3">
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='images/blank-t-shirt-png-30265.png') }}" alt="Gallery Image 4">
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='images/gallery5.jpg') }}" alt="Gallery Image 5">
        </div>
    </div>
    
</main>
{% endblock %}
